.git
.github
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
tests
docs
.env
.env.*
!.env.example
*.md
!README.md
.phpunit.result.cache
phpstan.neon
deptrac.yaml
rector.php
pint.json
docker-compose*.yml
